.contact{
    @include flexContainer(column, center, center);
    padding: 50px 0;
    background: rgba($color: #6B7DA7, $alpha: .1);
    span, p{
        opacity: .5;
        text-align: center;
    }
    .contact__header{
        color: #232a39;
        padding: 30px 0 20px;
    }
    .contact__form{
        margin-top: 50px;
        max-width: 1200px;
        min-width: 50%;
        position: relative;
        .contact__form-row{
            width: 100%;
            display: flex;
            .contact__form-row--input{
                width: 100%;
                margin: 25px 0;
                position: relative;
                label{
                    display: block;
                    padding-bottom: 5px;
                }
                input, select{
                    width: 90%;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;    
                }
            }
            
        }
        .submit-btn{
            margin-top: 25px;
            width: unset;
            padding: 15px 20px;
            font-size: 1rem;
            background: #161A22;
            color: $white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                background: lighten($color: #32363D, $amount: 10%)
            }
        }
        a, p{
            margin-top: 15px;
            font-size: .8rem;
            text-align: start;
        }
        a{
            text-decoration: underline;
        }
    }
}
.footer{
    @include flexContainer(column, center, center);
    background: #161A22;
    color: $white;
    padding: 50px;
    width: 100%;
    .footer__top{   
        position: relative;
        width: 100%;
        @include flexContainer(row, space-between, flex-start);
        padding: 50px 0;
        border-bottom: 1px solid rgba($color: #fefefe, $alpha: .3);
        .footer__top--section{
            width: 25%;
            .footer__top--section-header{
                font-weight: 600;
                margin-bottom: 10px;
                opacity: 1;
            }
            a{
                display: block; 
                color: $white;
                opacity: .8;
                font-weight: 300;
                padding-bottom: 5px;
            }
            .footer__top--section--social{
                .fab{
                    color: $white;
                    padding-right: 20px;
                    font-size: 1.3rem;
                    cursor: pointer;

                }
            }
        }
    }
    .footer__middle{
        width: 100%;
        text-align: center;
        position: relative;
        padding: 30px 0;
        border-bottom: 1px solid rgba($color: #fefefe, $alpha: .3);
        p{
            text-align: center;
            opacity: .8;
        }
    }
    .footer__bottom{
        @include flexContainer(row, space-between, flex-start);
        width: 100%;
        padding: 30px 0;
        p{
            font-size: 0.8rem;
            opacity: .5
        }
    }
}